body{
    padding: 0px 25px;
    color: black;
    font-size: 30px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.counter-button-container{
    text-align: left;
}

button{
    padding: 20px 100px;
    background-color: aqua;
    font-size: 4ch;
}

#subtract:hover{
    background-color: orange;
}

#append:hover{
    background-color: green;
}