body{
    padding: 0px 25px;
    color: darkblue;
    font-size: 30px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;

}

button{
    padding: 10px 24px;
    margin: 10px 10px 10px 0px;
}